h1 {font-style:italic;

}

ul{display: flex;}

body{
    
    background-image: url(./img/fundo\ 2.jpg);
    background-size:unset;
    background-position: center;
    backface-visibility:visible;    
    
    color:yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:large;
    font-style: italic;
    
 }

